.custom-container .dx-datagrid td {
  font-size: 12px !important;
}

.custom-container .dx-datagrid-rowsview .dx-row > td {
  font-size: 12px !important;
}

.custom-dropdown .dx-overlay-content .small {
  width: 200px; /* Set the width of the dropdown menu */
  height: 40px; /* Set the height of the dropdown menu */
  columns: red;
}
