.scheduler {
  //height: 800px;
  width: 1000px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red #f0f0f0; /* light gray background */
}

.dropdown {
  margin-bottom: 20px;
  margin: 20px auto;
  align-items: center;
  //width: 400px; /* Adjust width as needed */
  display: flex; /* Added */
  justify-content: space-between; /* Added */
  background-color: #ffffff; /* white dropdown */
  border: 1px solid #d3d3d3; /* light gray border */
  border-radius: 10px; /* rounded corners */
  padding: 20px; /* Added */
}

.scheduler {
  width: 90%;
  max-width: 800px;
  background-color: #ffffff; /* white scheduler */
  border: 1px solid #d3d3d3; /* light gray border */
  border-radius: 0px; /* rounded corners */
}

.dx-dropdowneditor-input-wrapper {
  padding: 10px;
}

.dx-scrollview-content .dx-list-item {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  color: #000000; /* black text */
}

.dx-scrollview-content .dx-list-item:hover {
  background-color: #87cefa; /* light blue hover */
  color: #ffffff; /* white text */
}
.service-select-container {
  width: 300px;
}

.service-select {
  width: 100%;
}
